@model BRANA_FG.Models.LaboratoireEchantillon

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LaboratoireEchantillon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_superviseur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_superviseur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom_recepteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_recepteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_donnee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_donnee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_retour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_retour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_produit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_produit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_data_clock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_data_clock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtite_donnee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtite_donnee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtite_retour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtite_retour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_depot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_depot)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
