@model BRANA_FG.Models.Prod_manq_relation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prod_manq_relation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_produit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_produit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_prod_manq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_prod_manq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtite_caisse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtite_caisse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtite_bout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtite_bout)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
