@model IEnumerable<BRANA_FG.Models.Casse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_superviseur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_casse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_depot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endroit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.injured_person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chauffeur_forklift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.safety_material)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_superviseur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_casse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_depot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endroit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.injured_person)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chauffeur_forklift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.safety_material)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
