
@{
    ViewBag.Title = "Rapport utilisateur";
}

<h2>rapportUtilisateur</h2>
@{
    if (Request["valeur"] != null)
    {
        var zzz = Request["valeur"];
        ViewBag.valeur = Request["valeur"];

        @*var s = ViewBag.affiche(int.Parse(zzz))[0].Item1;
        var s1 = ViewBag.affiche(int.Parse(zzz))[0].Item2;
        // @s  @s1
            @ViewBag.afficheCount*@
     }

    
}
<div class="row">
    <div class="col-md-12 col-md-offset-2">
        
        <form  action="#" method="get">
        <div class="form-group col-md-6 col-sm-4 col-xs-6">
            <select class="select2_single form-control" tabindex="-1" name="valeur" id="valeur">
                <option value="0" selected>Aucun</option>
                @for (var a = 0; a < (int)ViewBag.size; a++)
                {
                   
                    var id = ViewBag.userNomPre[a].id;
                    var nom_pren = ViewBag.userNomPre[a].nom.ToString() + " " + ViewBag.userNomPre[a].prenom.ToString();
                    if (ViewBag.tmpSup == id)
                    {
                        <option value="@id" >@nom_pren</option>
                    }
                    else
                    {
                        <option value="@id">@nom_pren</option>
                    }
                }

            </select>

            @*<input type="text" name="valeur" value="" class="form-control" placeholder="John Bob" />*@
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-6">
            <input type="submit" class="btn btn-danger col-md-3 " value="Recherche">
            
        </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="x_panel">

            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="demo-container">
                        <div class="row">

                            <div class="col-md-4" style="background-color:#faebd7">
                                <h3>Chargement</h3>
                                <table id="example" class="table table-striped responsive-utilities ">
                                    <thead>
                                        <tr class="headings" bgcolor="#3A3F4F">

                                            <th>Date</th>
                                            <th>Num. SP</th>
                                            <th>Num. Emb</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                       @for (var e = 1; e < ViewBag.affiche_loading_Count; e++)
                                       {
                                           var zzz = Request["valeur"];

                                           var s = ViewBag.affiche_loading(int.Parse(zzz));
                                           var date = s[e].Item1;
                                           var sp = s[e].Item2;
                                           var emb = s[e].Item3;
                                        <tr class="even pointer">

                                            <td class="btn-success">@date</td>
                                            <td class=" ">@sp</td>
                                            <td class=" ">@emb</td>
                                            <td class=" "><a href="">Voir+</td>
                                        </tr>
                                       }




                                       
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4" style="background-color:#f5f5f5">
                                <h3>Transfert</h3>
                                <table id="example2" class="table table-striped responsive-utilities ">
                                    <thead>
                                        <tr class="headings" bgcolor="#3A3F4F">
                                            <th>Date</th>
                                            <th># Trans.</th>
                                            <th>Chauff.</th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                      @for (var e = 1; e < ViewBag.affiche_transfert_Count; e++)
                                      {
                                          var zzz = Request["valeur"];

                                          var s = ViewBag.afficheTransfert(int.Parse(zzz));
                                          var date = s[e].Item1;
                                          var numtrans = s[e].Item2;
                                          var chauf = s[e].Item3;

                                        <tr class="even pointer">
                                            <td class="btn-success">@date</td>
                                            <td class=" ">@numtrans</td>
                                            <td class=" ">@chauf</td>
                                            <td class=" "><a href="">Voir+</td>
                                        </tr>
                                       
                                        }



                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4" style="background-color:#f0ead6">
                                <h3>Approvisionnement</h3>
                                <table id="example3" class="table table-striped responsive-utilities ">
                                    <thead>
                                        <tr class="headings" bgcolor="#3A3F4F">
                                            <th>Date</th>
                                            <th>Ligne</th>
                                            <th>Produit</th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                       @for (var e = 1; e < ViewBag.afficheApprov_Count; e++)
                                       {

                                           var zzz = Request["valeur"];

                                           var s = ViewBag.afficheApprov(int.Parse(zzz));
                                           var date = s[e].Item1;
                                           var ligne = s[e].Item2;
                                           var produit = s[e].Item3;

                                        <tr class="even pointer">
                                            <td class="btn-success">@date</td>
                                            <td class=" ">@ligne</td>
                                            <td class=" ">@produit</td>
                                            <td class=" "><a href="">Voir+</td>
                                        </tr>

                                       }



                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


<script>
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example2').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
            ],
                    'iDisplayLength': 12,
                    "sPaginationType": "full_numbers",
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": "<?php echo base_url('assets2/js/Datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                    }
                });
                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });
            });
</script>
<script>
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example3').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
            ],
                    'iDisplayLength': 12,
                    "sPaginationType": "full_numbers",
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": "<?php echo base_url('assets2/js/Datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                    }
                });
                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });
            });
</script>
