@model BRANA_FG.Models.Emballage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Emballage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qte_par_caisse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qte_par_caisse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_utilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_utilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_emb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_emb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
