@model BRANA_FG.Models.Debut_Inventaire

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Debut_Inventaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_superviseur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_superviseur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_debut_inventaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_debut_inventaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_produit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_produit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_data_clock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_data_clock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtite_trouvee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtite_trouvee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_depot_fg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_depot_fg)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
